.navbar {
  height: 80px;
  display: flex;
  background-color: #fff;
  flex-direction: column;
  
  .container {
    display: flex;
    align-items: center;
    height: 100%;
  }

  .navbar-brand {
    color: #000;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
  }

  .navbar-toggle {
    margin-left: auto;

    .toggle-iconbar {
      display: block;
      width: 20px;
      height: 3px;
      background-color: #000;
      border-radius: 2px;

      &:not(:last-child) {
        margin-bottom: 4px;
      }
    }
  }

  .navbar-menu {
    display: none;
  }
}